<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            Add Item
        </div>
    </ons-toolbar>
    <ons-page>
        <div style="text-align: center; width: 90%;  margin: 5px;">
            <p>
                <ons-input id="item" modifier="underbar" placeholder="Milk maybe?" float></ons-input>
            </p>
            <p style="margin-top: 30px;">
                <ons-button onclick="addItem()">Add Item</ons-button>
            </p>
        </div>
    </ons-page>
</ons-page>