<ons-page id="shopping">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button onclick="fn.open()">
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            Shopping List
        </div>
    </ons-toolbar>
    <ons-list id="shoppingList">
        <ons-list-header style="opacity: 0.6; padding-top: 20px;">My Cart</ons-list-header>
        <ons-list-item>Apple</ons-list-item>
        <ons-list-item>Milk</ons-list-item>
    </ons-list>

    <ons-fab position="bottom right" onclick="fn.load('add_item.html')">
        <ons-icon
                icon="md-plus">
        </ons-icon>
    </ons-fab>
</ons-page>